In [6]:
def a(x,y,z=1):
    return x+y+z

a(4,y=1)

x=[1,2,0,3]
x.remove(2)
print(x)
dir('')
help(''.zfill)
'3'.zfill(8)

[1, 0, 3]
Help on built-in function zfill:

zfill(...) method of builtins.str instance
    S.zfill(width) -> str

    Pad a numeric string S with zeros on the left, to fill a field
    of the specified width. The string S is never truncated.

'00000003'

In [3]:
sorted([3,5,2])

[2, 3, 5]

In [21]:
x = [1,3,2]
x == [i for i in set(x)]

False

In [5]:
x=[0,1,2]
x[1:1]=[8,9]
x.append([2,3])
x

[0, 8, 9, 1, 2, [2, 3]]

In [1]:
import foo

ModuleNotFoundError: No module named 'foo'

In [12]:
help(sum)
sum(range(101))
l=list(range(101))
print(l)
tuple(i*2 for i in range(10))

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [3]:
import sum

sum.sum(range(11))

55